.btn {
  font: bold 12px Roboto;
  background-color: green;
  color: white;
  margin: 20px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}

.footer {
  margin: auto;
  height: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightgray;
  position: fixed;
  bottom: 0;
  min-width: 100%;
}
