.btn {
    font: bold 20px Roboto;
    background-color: green;
    color: white;
    margin: 20px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }


 .footer{
    margin: auto;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightgray;
    
 }